/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4F1DE;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #D8A7B1;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8395A7;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #65b3ad;
}

#map {
    height: 500px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    input, button {
        font-size: 14px;
    }

    #map {
        height: 300px;
    }
}
